body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bcbcbc;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: #f3edf1;
    border-radius: 15px;
    box-shadow: 3px 3px 6px grey;
    width: 25%;
    height: auto;
    overflow: hidden;
}

img{
    width: 100%;
    height: 45vh;
    border-bottom: 1.5px solid rgb(247,247,247);
}

.card:hover{
    box-shadow: 12px 10px 4px rgb(85,85,85);
    cursor: pointer;
}

.productDetails{
    padding: 15px;
}

.productName{
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(18,18,80);
}

.prodDescription{
    color: #555;
    margin-top: 10px;
    margin-bottom: 15px;
    height: auto;
}

.productPrice{
    color: #7f640b;
    font-size: 1.3em;
    font-weight: bold;
}


@media(max-width:800px){
    .productCards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 50%;
        margin-top: 25px;
    }
}